* {box-sizing: border-box;}

body {font-family: inter;}

.brand-mark{
  display: grid;
  height: 22px;
  width: 22px;
  place-items: center;
  border: 2px solid #111827;
  border-radius: 3px;
  background: #000000;
  color: #f1f5f9;
  font-size: 11px;
  font-weight: 700;
}


.theme-button {
  display: flex;
  align-items: center;
  gap:7px;
  border-radius: 700px;
  background: #f1f5f9;
  padding:7px 12px;
  color: #475569;
  font-size:10px;
  transition: transform.2s background .2s;
  }
.theme-button:hover {transform: translateY(-1px); background: #e293b;} 
.dark .theme-buttn {background: #1e293b; color: #cdb5e1;
